<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skycaster.l_cdradiorxdemo"
    >

    <uses-feature android:required="true" android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.skycaster.skc_cdradiorx.bases.CDRadioApplication"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activities.BusinessDemo"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >

        </activity>
        <activity android:name=".activities.DSPInfo"
            android:screenOrientation="landscape"/>

        <service android:name="com.skycaster.skc_cdradiorx.service.BusinessService" />
        <service android:name="com.skycaster.skc_cdradiorx.service.TunerService"/>
    </application>

</manifest>
